<!DOCTYPE html>
<html class="extend-to-bottom" ng-app="SemprebetaApp">

<head>
  <title>semprebeta {punto} gal</title>
  <meta charset="UTF-8">
  <!-- build:js inline -->
  <script src="./semprebeta-client-side.js"></script>
  <!-- /build -->
  <!-- build:css inline -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./semprebeta-client-side.css">
  </script>
  <!-- /build -->
</head>

<body class="background-astano extend-to-bottom">
  <nav class="navbar navbar-default navbar-collapse" role="navigation">
    <div class="col-md-4 navbar-brand navbar-left text-center title-nav">
      <div class="title">semprebeta {punto} gal</div>
      <div class="subtitle">we build</div>
    </div>
  </nav>
  <nav class="navbar navbar-default navbar-collapse navbar-fixed-bottom" ng-controller="JobsCtrl">
    <div class="list-group-item container" ng-show="!stats().isIdle()">
      <a ng-click="deactivate()">
        <div class="sidebar-brand col-md-4 text-left">You're helping people using your computer (click to stop):</div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right" ng-show="stats().isConnecting()">Connecting...</div>
        <div class="col-md-4 text-right" ng-show="stats().isOk()">Got {{stats().results}} results ({{stats().resultsPerSecond | number:2}} r/s in {{stats().timeSpent | number:3}} seconds)</div>
        <div class="col-md-4 text-right" ng-show="stats().isError()">An error ocurred{{errorMessage}}</div>
      </a>
    </div>
    <div class="list-group-item container" ng-show="stats().isIdle()">
      <a ng-click="activate()">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">Click to help people with your computer</div>
        <div class="col-md-3"></div>
      </a>
    </div>
  </nav>
</body>

</html>
