/*
	Color scheme
	607D8B - dark off blue navbar
	E84E40 - toasty firm red, titles and highlights
	263238 - dark gray, logo
	ECEFF1 - clear gray
	069DE5 - intense clear blue for links
*/

html, body {
	border: 0;
	margin: 0;
	background: #ECEFF1;
}
.gliph {
	width: 1.1em !important;
	height: auto;
}
.comp-pool-client {
	display: none; 
}
.contact {
	display: block;
}
.contact img {
	width: 2em;
	height: auto;
}
.navbar {
	background: #607D8B;
}
.navbar-addons.social * {
	vertical-align: middle;
}
a {
	text-decoration: none;
	transition: color 0.5s;
}
a:hover {
	color: #069DE5 !important;
}
.navbar-addons {
	font-family: 'Muli', sans-serif;
}
.navbar-addons h1, .navbar-addons h2 {
	color: #ECEFF1;
}
.navbar-addons h2 {
	font-size: 1em;
}
article > header, article > h1, article > h2, .content strong {
	color: #E84E40;
	font-family: 'Muli', sans-serif;
}
.content strong {
	font-style: italic;
}
article > h2 {
	font-size: 1em;
	font-style: italic;
}
article > .note {
	font-size: 0.8em;
	color: #263238;
	text-align: right;
}
.content {
	font-family: 'Poppins', sans-serif;
}
.content a {
	color: #E84E40;
}
.navbar a {
	color: #ECEFF1;
}
@media (max-width : 1200px) {
	.navbar, .comp-pool-client {
		font-size: 0.8em !important;
	}
}
